#hero{
    position: absolute;
    z-index: 110;
}

#fullscreen-video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border:0;
    overflow: hidden;
    z-index: 50;
    border: 1px solid;
    background: #39403D;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    #fullscreen-video video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
      
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
    }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button{
    border: 0px;
    height: auto;
    padding: 10px;
    font-size:16px;
}

body, html {
    height: 100%;
    overflow: hidden;
    color:#fff;
    margin: 0;
    padding: 0;
    background: #666666;
    font-family: 'Open Sans', sans-serif;
}
    #local{
        position:absolute;
        right:20px;
        bottom:10px;
        max-width:120px;
        z-index:100;
        background: #39403D;
        border:1px solid #39403D;
    }
    #videos {
        position: absolute;
        z-index:100;
    }
    #videos video{
        display:inline;
        margin-right:10px;
        border:1px solid #39403D;
        width:120px;
        height:auto;
    }

    .hide{
        display:none
    }


section{
    padding: 10px;
}

footer
{
    position: absolute;
    bottom:0;
    z-index: 90;
    width:100%;
    background: rgba(0,0,0,0.5);
    height:180px;
  

}
footer > input{
    position: absolute;
    bottom:0;
    z-index:50;
    padding: 10px;
    width:100%;
    font-size: 16px;
    border:0px;
}

#im-messages{
    height: 135px;
    overflow: auto;
    padding: 10px;
}